.Card
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-start

  max-height: 300px
  margin: 15px 20px 0 0
  padding: 0 5px

  box-shadow: 0 0 6px #1818182a

  cursor: pointer
  user-select: none

  transition: all .35s
  
  &:hover,
  &:focus
    transform: scale(1.1)
    z-index: 1
  &:hover::before
    position: absolute
    top: 38%

    padding: 0 8px

    width: 100%
    height: 100%

    content:"View Details"
    color: #181818

    font-size: 1.75rem
    font-weight: bolder
    z-index: 2
    transition: .35s

  &:active
    transform: scale(1)
  &:hover .Card__img
    opacity: .5

  .Card__img--shape
    position: absolute
    
    width: 70%
    height: 80%

  .Card__img
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    width: 180px
    height: 250px

    padding: 30px 50px

    background: #fff

    img
      width: 100px
      opacity: .85
      transition: .35
      z-index: 1

  &:hover img,
  &:focus img
    transform: scale(1.2)
    
    opacity: .5
  
  .Card__info
    display: flex
    flex-direction: column
    justify-content: space-between

    width: 100%
    padding: 10px 0

    color: #252525
    h3
      margin: 4px 0
      padding: 0

      max-width: 70%
      font-size: .75rem
    
    h4 
      margin: 4px 0
      padding: 0

      font-size: .7rem

    .Card__info--price
      color: #929292

      &::before
        content: '€'

        padding: 0 2px
        font-size: .7rem
        color: #252525

