.GenericModal
  position: fixed
  top: 58px
  left: 0
  right: 0
  bottom: 0

  height: 100vh

  display: flex  
  justify-content: flex-end    

  z-index: 9

  .GenericModal--overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #fff

    cursor: pointer
    opacity: .75
    z-index: -1

  .GenericModal__content
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

    background: #fff
    box-shadow: 0 2px 2px #18181846

    @media(min-width: 676px)
      width: 65%

    header
      display: flex
      justify-content: space-between
      align-items: center
      
      padding: 5px 50px
      width: 100%

      box-shadow: 0 1px 2px #18181825