.Hero
  display: flex
  flex-direction: column
  align-items: center

  margin: 0

  img
    width: 800px
    box-shadow: 0 2px 12px #1818184d
  
  h1
    margin: 0
    padding: 0

    position: relative
    top: 15px

    padding: 10px 0

    color: #110d0d
    font-size: 2.5rem
    font-weight: bolder

    text-decoration: underline
  p
    display: none
    
    @media (min-width: 676px)
      display: block